<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de usuarios</title>
</head>
<body>
    <table border="1">
        <thead>
            <tr>
                <td>Id</td>
                <td>Usuario</td>
                <td>Contraseña (Hash)</td>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
            <tr>
                <td>{{usuario.id}}</td>
                <td>{{usuario.username}}</td>
                <td>{{usuario.password}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
